.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; 
  background-color: #1b1b1b;
}

.navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  margin-right: 60px;
}

.navbar li {
  padding: 10px 15px;
}

.navbar li:hover {
  background-color: #94949434;
  border-radius: 15px;
  color: white;
}
.navbar li:last-child {
  margin-left: 15px;
  font-size: 18px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff; 
}

.Logo {
  margin-left: 40px;
  color: white;
}

.Logo:hover {
  color: #535bf2;
  cursor: pointer;
}
